/*#listView
{
    width: 100%;
}*/

.win-container {
    margin: 2px !important;
}

/* Template for the items in the ListViews in this sample */       
.homePosterTemplateItem
{
    /*width: 300px;
    height: 500px;*/
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

    .homePosterTemplateItem img.homePosterTemplateItem-Image 
    {
        width: 300px;
        height: 450px;
    }

    .homePosterTemplateItem .homePosterTemplateItem-Detail
    {
        margin: 5px;
        text-align: center;
    }

   .listLayoutTopHeaderTemplateRoot {
        font-size: larger;
        margin-left: 16px;
    }
    
/* CSS applied to the ListViews in this sample */
#listView
{
    height: 100%;
}