<div id="listView-header" class="header">
    <div class="win-navbarcommand-icon listView-header-icon" data-win-bind="innerText: App.home.header.icon App.converter.winjsIconConverter"></div>
    <h2 data-win-bind="src: App.home.header.title"></h2>
    <p data-win-bind="src: App.home.header.subTitle"></p>
</div>

<div id="listView-footer" class="footer hide">
    <div class="status">
        <label class="progressRingText">
            <progress class="win-ring withText win-large"></progress>
            <span>Chargement de nouvelles suggestions</span>
        </label>
    </div>
</div>

<div class="listView-groups-headerTemplate" data-win-control="WinJS.Binding.Template" style:"display: none">
    <div class="listView-groups-header">
        <div class="win-navbarcommand-icon listView-header-icon" data-win-bind="innerText: icon App.converter.winjsIconConverter"></div>
        <h2 data-win-bind="innerText: title"></h2>
    </div>
</div>

<div class="homePosterTemplateTemplate" data-win-control="WinJS.Binding.Template" style="display: none">
    <div class="homePosterTemplateItem">
        <img src="#" class="homePosterTemplateItem-Image" data-win-bind="src: movie.poster_path App.converter.tmdbConverter; className: user_inf.isSeen App.converter.deactivationImageConverter" />

        <div class="homePosterTemplateItem-Buttons">
            <button class="homePosterTemplateItem-ButtonFavorite" data-win-bind="className: user_inf.isFav App.converter.deactivationButtonFavConverter; onclick: FavClick;">Favoris</button>
            <button class="homePosterTemplateItem-ButtonSeen" data-win-bind="className: user_inf.isSeen App.converter.deactivationButtonSeenConverter; onclick: SeenClick;">Déjà vu</button>
        </div>
        <!--<div class="homePosterTemplateItem-Detail">
            <h4 data-win-bind="textContent: title"></h4>
            <!--<h6 data-win-bind="textContent: overview"></h6>
        </div>-->
    </div>
</div>

<div id="listView"
     class="win-selectionstylefilled"
     data-win-control="WinJS.UI.ListView"
     data-win-options="{
            itemDataSource: App.home.data.dataSource,
            itemTemplate: select('.homePosterTemplateTemplate'),
            groupHeaderTemplate: select('.listView-groups-headerTemplate'),
            header: select('#listView-header'),
            footer: select('#listView-footer'),
            selectionMode: 'single',
            tapBehavior: 'directSelect',
            layout: { type: WinJS.UI.GridLayout, orientation: 'vertical' }}"
     data-win-bind="style.display: App.home.data.length App.converter.displayBlockIfNot">
</div>
<h4 class="noDataFound" data-win-bind="style.display: App.home.data.length App.converter.displayBlockIf">:( Il n'y a aucun films</h4>

<%= stylesheet_link_tag    'movies/home', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'movies/home', 'data-turbolinks-track' => true %>