<%#= render partial: "movies/home" %>
<div class="loadingIcon">
	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading..
</div>

<div>salut </div>
<%#= current_user.user_movie.last.movie_id %>